$theme-color: #daf2ff;
$active-link-color: #472F9C;
$font-stack:
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
Helvetica,
Arial,
sans-serif,
"Apple Color Emoji",  /* Emojis*/
"Segoe UI Emoji", /* Emojis*/
"Segoe UI Symbol"; /* Emojis*/

html {
  min-height: 100%; //fill linear gradient
}
body {
  background-color: white;
  background: linear-gradient($theme-color, white 80em);
  margin: auto;
  max-width: 36em;
  padding: 0 1em;
  font: 1em/1.6em $font-stack;
  p {
    margin: 0.8em auto;
  }
  a {
    color: inherit;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    &:active {
      color: $active-link-color;
      text-decoration: none;
    }
  }
}
nav {
  display: flex;
  font: 1.2em/1.2em;
  justify-content: space-between;
  margin-top: 2em;
  margin-bottom: 3.2em;
  ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding-left: 0px;
    li {
      margin: auto 1em auto 0;
      font-size: 0.9em;
    }
  }
}
h1,h2,h3 {
  margin-top: 1em;
  line-height: 1.2em;
}
table {
  font-size: 0.9em;
  td{
    min-width: 10em;
    &:first-of-type {
      padding-right: 2em;
    }
  }
}
div.content {
  h1 {
    font-size: 1.6em;
  }
  h2 {
    font-size: 1.1em;
  }
  h3 {
    font-size: 0.7em;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }
  ul {
    list-style-type: none;
    padding-left: 0.25em;
    li { 
      margin: 0.25em;
    }
  }
}
@media print{
  body {
    max-width: none
  }
}
@media (max-width: 640px) {
  nav {
    flex-flow: column nowrap;
    align-items: flex-start;
    margin-top: 0.5em;
    margin-bottom: 1em;
    ul {
      margin: inherit;
    }
  }
}
