html {
  min-height: 100%; }

body {
  background-color: white;
  background: linear-gradient(#c6f5ff, white 80em);
  margin: auto;
  max-width: 36em;
  padding: 0 1em;
  font: 1.1em/1.62em Georgia, serif; }
  body a {
    color: inherit;
    text-decoration: none; }
    body a:hover {
      text-decoration: underline; }
    body a:active {
      color: #472F9C;
      text-decoration: none; }

nav, h1, h2, h3, h4, h5, h6, table {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

nav {
  display: flex;
  font: 1.2em/1.2em;
  justify-content: space-between;
  margin-top: 2em;
  margin-bottom: 3.2em; }
  nav ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding-left: 0px; }
    nav ul li {
      margin: auto 1em auto 0;
      font-size: 0.9em; }

h1, h2, h3 {
  line-height: 1.2em;
  letter-spacing: -0.025em; }

table {
  font-size: 0.9em; }
  table td {
    min-width: 10em; }
    table td:first-of-type {
      padding-right: 2em; }

div.content h1 {
  font-size: 1.6em; }

div.content h2 {
  font-size: 1.1em; }

div.content h3 {
  font-size: 0.7em;
  letter-spacing: 0.02em;
  text-transform: uppercase; }

div.content ul {
  list-style-type: square; }
  div.content ul:before {
    color: red; }

@media print {
  body {
    max-width: none; } }

@media (max-width: 640px) {
  nav {
    flex-flow: column nowrap;
    align-items: flex-start;
    margin-top: 0.5em;
    margin-bottom: 1em; }
    nav ul {
      margin: inherit; } }
